@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

• {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to right, #002050, #001233, #00051A);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}
.purple-button {
  font-weight: bold;
  background-color: #d8b2e5; 
  color: rebeccapurple;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.purple-button:hover {
  background-color: #c296d8; 
}

